@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';
$menu-text-1: #646464;
$menu-text-2:  #3DAFC8;
$menu-bg-1: #FEFDE7;
$menu-bg-2: white;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background: $menu-bg-2;
    min-width: 960px;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}
h3, p {
    color: $menu-text-1;
}
.content {
    background: $menu-bg-1;
    width: 100%;
    // display: flex;
}

.top-menu {
    padding: 1em 2em;
    border-bottom: 2px $menu-text-1 solid;
    background: $menu-bg-2;
    width: 100%;

    h1 {
        display: inline;
        color:#f45800;
        font-weight: 400;
        font-size: 2.5em;
        vertical-align: bottom;
        padding-right: 4px;

    }
}
.menu-button {
    // width: 5em;
    padding: .4em;
    border: 1px solid $menu-text-1;
    border-radius: 4px;
    font-family: arial;
    color: $menu-text-1;
    position: absolute;
    left: 27em;
    top: 1.5em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background: $menu-bg-2;
}


.menu-button li {

    font-family: arial;
    // color: $menu-bg-2;
    padding: .4em;
    // background: $menu-text-1;
}
.sub-menu {
    display: none;
    padding-top: 1em;
    position: relative;
}
.menu-button:hover .sub-menu {
    display: block;
    z-index: 2;
}
input {
    width: 25em;
    display: inline;
    padding: 6px 10px;
    height: 34px;
    border-radius: 5px;
    overflow:auto;
    border: 1px $menu-text-1 solid;
}

button {
    background:$menu-text-2;
    position: absolute;
    left: 20em;
    top: 1.4em;
    height: 34px;
    width: 5em;
    font-size: 1em;
    font-family: Arial;
    color: $menu-bg-2;
    border-top: 1px $menu-text-1 solid;
    border-right: 1px $menu-text-1 solid;
    border-bottom: 1px $menu-text-1 solid;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.right-side {
    padding-top: 1em;
    width: 10em;
    float: right;
    color: $menu-text-2;
    font-family: arial;
    font-size: 1em;
    span {
        border: 1px solid $menu-text-2;
        border-radius: 4px;
        padding: .4em;
    }
    i {
        color: black;
        font-size: 1.5em;
    }
}
.sidebar {
    padding: .5em;
    font-family: Arial;
    background: $menu-bg-1;
    width: 18em;
    float: left;
}
.sidemenu-1 {
    background: $menu-bg-2;
    border: 1px $menu-text-1 solid;
    border-radius: 4px;
    padding: 1em;
}
.sidemenu-1 li {
    font-size: .8em;
    color: $menu-text-2;
    padding: .4em .8em .4em .4em;
}
.main-content {
    float: left;
    width: 40em;
    background: $menu-bg-1;
}
.item {
    float: left;
    // background: red;
    width: 12.5em;
    height: 16em;
    margin-left: .6em;
    margin-bottom: .8em;
    img {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 2.5%
    }
}
.footer {
    width: 100%;
    padding: 3em 5em;
    border-top: 1px solid $menu-text-1;
    background:#C6C09C;
}
.footer-top{
    display: flex;
    flex-direction: row;
}
.footer-top>li {
    flex-grow: 1;
    background: $menu-bg-2;
    margin: 0 1em;
    border-radius: .5em;
    padding: .5em;
}
.footer-links a {
    text-decoration: none;
    color: $menu-text-2;
}

// Your SASS Journey Starts Here
//
